<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.brainspeedtech.struct.inst.presentation.InstModelWizardID"
            name="%_UI_InstModelWizard_label"
            class="com.brainspeedtech.struct.inst.presentation.InstModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InstModelFile.gif">
         <description>%_UI_InstModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.brainspeedtech.struct.inst.presentation.InstEditorID"
            name="%_UI_InstEditor_label"
            icon="icons/full/obj16/InstModelFile.gif"
            extensions="inst"
            class="com.brainspeedtech.struct.inst.presentation.InstEditor"
            contributorClass="com.brainspeedtech.struct.inst.presentation.InstActionBarContributor">
      </editor>
   </extension>

</plugin>
