<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="VPIBuilder"
         name="VPI Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.brainspeedtech.gen.software.posix.vpi.builder.VPIBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="VPINature"
         name="VPI Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.brainspeedtech.gen.software.posix.vpi.builder.VPINature">
         </run>
      </runtime>
      <builder
            id="com.brainspeedtech.gen.software.posix.vpi.VPIBuilder">
      </builder>
      <requires-nature
            id="com.bst.gen.swarmInstanceNature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="com.brainspeedtech.swarm.project.properties.base"
            class="com.brainspeedtech.gen.software.posix.vpi.properties.PosixPropertyPage"
            id="com.brainspeedtech.gen.software.posix.vpi.vpiPropertyPage"
            name="Posix VPI Properties"
            nameFilter="*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof></enabledWhen>
      </page>
   </extension>

</plugin>
