<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          id="javaBuilder"
          name="Swarm Java Builder"
          point="org.eclipse.core.resources.builders">
       <builder
             hasNature="true">
          <run
                class="com.brainspeedtech.gen.software.java.builder.JavaBuilder">
          </run>
       </builder>
    </extension>
    <extension
          id="javaNature"
          name="Swarm Java Nature"
          point="org.eclipse.core.resources.natures">
       <runtime>
          <run
                class="com.brainspeedtech.gen.software.java.builder.SwarmJavaNature">
          </run>
       </runtime>
       <builder
             id="com.brainspeedtech.gen.software.java.javaBuilder">
       </builder>
       <requires-nature
             id="com.bst.gen.swarmInstanceNature">
       </requires-nature>
    </extension>
    <extension
          point="org.eclipse.ui.propertyPages">
       <page
             category="com.brainspeedtech.swarm.project.properties.base"
             class="com.brainspeedtech.gen.software.java.properties.JavaPropertyPage"
             id="com.brainspeedtech.gen.software.java.properties.javaPropertyPage"
             name="Swarm Java Properties"
             nameFilter="*">
          <enabledWhen>
             <instanceof
                   value="org.eclipse.core.resources.IProject">
             </instanceof>
          </enabledWhen>
       </page>
    </extension>

</plugin>
