<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
<copyright>
Copyright @2011-2013 BrainSpeed Technologies - All rights reserved
</copyright>
 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.brainspeedtech.com/constraint/boost"
            class="com.brainspeedtech.constraint.boost.BoostPackage"
            genModel="model/boost.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="boost"
            class="com.brainspeedtech.constraint.boost.util.BoostResourceFactoryImpl"/>
   </extension>

</plugin>
