<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.brainspeedtech.com/constraint/software/java"
            class="com.brainspeedtech.constraint.software.java.JavaPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="java"
            class="com.brainspeedtech.constraint.software.java.util.JavaResourceFactoryImpl"/>
   </extension>

</plugin>
