<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.brainspeedtech.com/constraint/software/posix"
            class="com.brainspeedtech.constraint.software.posix.PosixPackage"
            genModel="model/posix.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="posix"
            class="com.brainspeedtech.constraint.software.posix.util.PosixResourceFactoryImpl"/>
   </extension>

</plugin>
