<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="swarmVerilogBuilder"
         name="Swarm Verilog Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.brainspeedtech.gen.verilog.builder.SwarmVerilogBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="swarmVerilogNature"
         name="Swarm Verilog Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.brainspeedtech.gen.verilog.builder.SwarmVerilogNature">
         </run>
      </runtime>
      <builder
            id="com.brainspeedtech.gen.verilog.swarmVerilogBuilder">
      </builder>
      <requires-nature
            id="com.brainspeedtech.swarm.project.swarmNature">
      </requires-nature>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="com.brainspeedtech.swarm.project.properties.base"
            class="com.brainspeedtech.gen.verilog.properties.VerilogPropertyPage"
            id="com.brainspeedtech.gen.verilog.properties.samplePropertyPage"
            name="Verilog Preferences"
            nameFilter="*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
