<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.brainspeedtech.com/constraint/software/tcl"
            class="org.example.tcl.TclPackage"
            genModel="model/tcl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="tcl"
            class="org.example.tcl.util.TclResourceFactoryImpl"/>
   </extension>

</plugin>
