<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
<copyright>
Copyright @2011-2013 BrainSpeed Technologies - All rights reserved
</copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.brainspeedtech.com/constraint/boost"
            class="com.brainspeedtech.constraint.boost.provider.BoostItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://www.brainspeedtech.com/swarm/layer"
            class="com.brainspeedtech.constraint.boost.provider.BoostItemProviderAdapterFactory$LayerChildCreationExtender"/>
   </extension>

</plugin>
