<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.brainspeedtech.com/constraint/software/opencl"
            class="com.brainspeedtech.constraint.software.opencl.OpenclPackage"
            genModel="model/opencl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="opencl"
            class="com.brainspeedtech.constraint.software.opencl.util.OpenclResourceFactoryImpl"/>
   </extension>

</plugin>
