<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


  

    <extension
          id="mrayBuilder"
          name="Swarm mray Builder"
          point="org.eclipse.core.resources.builders">
       <builder
             hasNature="true">
          <run
                class="com.brainspeedtech.gen.software.mray.builder.MrayBuilder">
          </run>
       </builder>
    </extension>
    <extension
          id="xmlProblem"
          name="XML Problem"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
       <persistent
             value="true">
       </persistent>
    </extension>
    <extension
          id="mrayNature"
          name="Swarm mray Nature"
          point="org.eclipse.core.resources.natures">
       <runtime>
          <run
                class="com.brainspeedtech.gen.software.mray.builder.SwarmMrayNature">
          </run>
       </runtime>
       <builder
             id="com.brainspeedtech.gen.software.mray.mrayBuilder">
       </builder>
       <requires-nature
             id="com.bst.gen.swarmInstanceNature">
       </requires-nature>
    </extension>
    <extension
          point="org.eclipse.ui.propertyPages">
       <page
             category="com.brainspeedtech.swarm.project.properties.base"
             class="com.brainspeedtech.gen.software.mray.properties.MrayPropertyPage"
             id="com.bst.gen.mray.properties.gyperxPropertyPage"
             name="Swarm mray Properties"
             nameFilter="*">
          <enabledWhen>
             <instanceof
                   value="org.eclipse.core.resources.IProject">
             </instanceof>
          </enabledWhen>
       </page>
    </extension>

</plugin>
